# Ignore environment variables file
.env
# Ignore database file (not working)
bybit_users.db
# Ignore Python cache files
__pycache__
# Ignore settings file
/scripts/settings.json
#web cookies and cache
/webcache
venv
.vscode
settings.json
funding_rates.csv
change.

test_stats_import.py
GEMINI.md
trade_stats.csv
1trade_stats.csv
analiz.py
v2analiz.py
trading_analysis.html
funding_stats.csv
1funding_stats.csv
v3analiz.py
triple_funding_market_analysis.html
v1analiz.py
all_metrics_vs_price_1m.html
2funding_stats.csv
AGENTS.md